<html>

<head>
<title>Garima's CV</title>
</head>

<body>

<p>This is Garima Karia's CV</p>

<h2>Education</h2>
<ul>
<li>McGill University</li>                        2015-2019
&nbsp Bachelor of Arts, Political Science and History &nbsp
</ul>

<h2>Skills</h2>
<ul>
<li>Data visualization (link to Tidy Tuesdays)</li>
<li>Shiny Apps</li>
<li>R and RMarkdown</li>
<li> Statistical inference, OLD and logistic regression</li>
</li>Dynamic/interactive reporting</li>
<li>Git/GitHub</li>
<li>Data Ethics and Literacy</li>
</ul>


</body>
</html>
